@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
	background: #f6f5f7;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	
}

/* Ensure the navbar does not create extra space */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px; /* Height of navbar */
    background: rgb(39, 82, 139);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Stay above content */
  }
  
nav .navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100%;
 max-width: 90%;
 background-color: rgb(39, 82, 139);
 margin: auto;
}
nav .navbar .logo a{
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .menu{
  display: flex;
}
.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}
.navbar .menu li a{
    color: black;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
section{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #96c7e8;
  font-size: 70px;
}

.button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
}
i{
  color: white
}

.menu td button {
    background-color: white;  /* Light gray background */
    color: black; /* White text color */
   
    padding: 10px 20px; /* Padding around the text */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 20px; /* More rounded edges */
    margin-top: 20px; /* Space above the button */
    font-size: 14px; /* Font size for the button text */
  }
  
  .menu td button:hover {
    background-color: lightgray; /* Darken button on hover */
  }
  
  .menu td a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Ensure link text color is black */
  }
  
